.jumbotron { background-color:#19a2ba }
.jumbotron .cube { height:8em; display:inline-block; position:absolute; margin-top:-1em }
.jumbotron h1, .jumbotron h5 { padding-left:9rem }
@media (min-width:30em) {
	.col.siteswap { min-width:30em }
}
.input-group { margin-right:1em; margin-bottom:1em; width:auto }
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: searchfield-cancel-button }
input[type="number"].digit    { width:3.5em !important }
input[type="number"].twodigit { width:5em !important }
.causal_diagram { overflow-x:auto }
.arrow_stroke { stroke:#007bff }
.arrow_fill   {   fill:#007bff }
circle { stroke:#343a40 }
circle.right_hand { fill:white }
circle.left_hand  { fill:#b7c8d5 }
.node_label { fill: #343a40 }
ul.siteswap_list { padding-left:1em; column-width:20em }
.generator ul.siteswap_list { column-width:8em }
ul.siteswap_list li { list-style-type:none }
.known_siteswaps li .siteswap { display:inline-block; width:5em ; vertical-align:top}
.known_siteswaps li .name { display:inline-block; text-overflow:ellipsis; width:15em }
.padding_bottom { height:30em }
