body {
	color:#212529;
	line-height: 1.5;
	box-sizing: border-box
}
*, ::after, ::before { box-sizing: border-box }
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {margin-top:0; margin-bottom:.5rem; font-family:inherit; font-weight:500; line-height:1.2; color:inherit }
h1 { font-size: 2.5em }
h2 { font-size:2rem }
h3 { font-size:1.75rem }
h4 { font-size:1.5rem }
h5 { font-size:1.25rem }
h6 { font-size:1rem }

a { color:#0056b3; text-decoration:none }
a:not(.pure-menu-link):hover { text-decoration: underline }

.form-inline { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; align-items: center }
